@import "/src/App.scss";

.contact-title{
color: $mikado-yellow;
}
.bio {
  margin: 0px 50px;
font-size: .8rem;
  color: white;
}

.form-control {
  background-color: $teal;
  border-color: transparent;
  padding: 10px 15px;
  transition: all 0.3s ease-out;

  
  .textarea {
    resize: none;
  }
  .label {
    color: red;
  }
}
