.home {
  height: 100vh;
}

.intro {
    
    font-size: clamp(2rem, 4vw, 4.5rem); 
}

.name {
  color: yellow;
}

.tagline {
  color: #4d4d4e;
  font-size: clamp(.5rem, 4.5vw, 1.5rem); 

}

.contact-button {
  background-color: transparent;
  color: yellow;
  border-color: yellow;
  &:hover,
  &:active {
    background-color: transparent;
    color: lightyellow;
    border-color: lightyellow;
  }
}

.test {
}
