@import "./src/App.scss";

.nav-container {
 background-color: $black;




}

.custom-border {
    
 background-color: $black;
 
  box-shadow: inset 0rem 0rem 0 0.1rem $yellow, 0rem 0rem 0 0.1rem $yellow, -0.3rem 0.3rem 0.3rem $black,
    -0.3rem 0.3rem 0 0.1rem $orange, -0.6rem 0.6rem 0.3rem $black,
    -0.6rem 0.6rem 0 0.1rem $red;
 
}

.brand{
    color:white;
    font-weight: 700;
    &:hover{
        color: $orange;
    }
}

.nav-link {
    font-weight: 700;
  color: white;
  text-decoration: none;
  text-align: right;

  &:hover {
    color: $red;
   
  }
}


.nav-link {
display: inline-block;
  
 
}
